body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: rgb(255,255,255);
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: rgb(62,65,82);
    transition: all 0.2s ease-in-out;
}

a:hover {
    font-weight: 600; 
    transition: font-weight 0.2s ease-in-out;
  }
  
#header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    z-index: 1000;

}
#headerLink{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    z-index: 1000;
    position: fixed;
}
#left{
    display: flex;
    flex: 6;
    flex-wrap: wrap;
}
#logo{
    width: 100px;
    height: 100px;

}
#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.element{
    padding: 0 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12.5px;
}
.element a{
    cursor: pointer;
}

#darkMode{
    height: 15px;
    width: 40px;
    background-color:rgb(113,114,136);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 3px;
    padding-left: 5px;
    cursor: pointer;
    justify-content: flex-start;
    transition: justify-content 0.8s ease;
    transition: justify-content 0.8s ease;
    padding-right: 5px;
}
.darkMode{
    transition: background-color 0.3s ease;
    background-color: #ff3f6c;
}
.helloI{
    background-color: blue;
}
#darkModeStatus{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    display: flex;
}

.helloI{
    background-color: blue;
}

#searchBox{
    display: flex;
    flex-direction: row;
}
.offer{
    cursor: pointer;
}
.boey{
    color: blue;
}
#searchIcon{
    width: 42px;
    height: 44px;
    background-color: #F5F5F6;
    background-image: url(IMAGES/search\ icon.png);
    background-position: center;
    background-size: contain;
}
#searchBar{
    background-color: rgb(245,245,246);
    width: 325px;
    height: 42px;
}
#searchBarIn{
    border: none;
    background-color: rgb(245,245,246);
    width: 325px;
    height: 42px;
    outline: none;
}
#right {
    display: flex;
    justify-content: center;
    align-items: center;

}
#system{
    display: flex;
    width: 194px;
    height: 40px;
    margin-left: 10px;
}

#icon1{
    align-items: center;
    text-align: center;
    font-size: 13px;
    margin-left: 19px;
    margin-right: 10px;
}
#icon2{
    align-items: center;
    text-align: center;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;

}
#icon2 div a{
    display: r;
        font-size: 13px;

}
#searchBoxIn:focus {
    border: none;
}

#icon3{
    align-items: center;
    text-align: center;
    font-size: 13px;
    margin-left: 10px;
}
#header{
    margin: 0;
    padding: 0;
}


/* USING MEDIA */
#body1{
    margin-top: 10px;
}
.media{
    height: 50px;
}
#vid{
    height: inherit;
}
#vid {
    width: 100%; 
    overflow: hidden;  
    margin: 15px;
    display: flex;
}
#videoPlay{
    border-radius: 15px;
    overflow: hidden;
}
#videoPlay video {
    max-width: 1080px; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
#textPlace{
    margin: 10px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 15px;
    margin-right: 25px;
}
#textPlace2{
    margin: 10px;
    width: 100%;
    font-size: 30px;
    border: 1px solid #ccc; 
    border-radius: 15px;
    margin-right: 25px;
    background: linear-gradient(to right, #6F93B9, #708CB0, #5F78A3);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
#mostLeft{
    flex: 2;
}
#locatonLogo{
    font-size: 25px;
    position: relative;
    bottom: 3px;
    margin-right: 5px;

}
#weatherPng img{
    height:250px;
    width: 250px;

}
#weatherPng{
    position: relative;
    bottom: 20px;
    left: 30px;
}
#weatherType{
    font-size: 40px;
    font-weight: 200;
    position: relative;
    text-align: center;
    bottom: 45px;
    left: 30px;

}
#locationWeather{
    background-color: #00000036;
    font-weight: 300;
    padding-left: 20px;
    border-radius: 100px;
    width: fit-content;
    padding-right: 20px;
    padding-bottom: 3px;
}
#middleOne{
    display: flex;
    flex: 6;
    margin-left: 50px;
    padding-bottom: 20px;
}
#temp{
    font-size: 150px;
    font-weight: 200;
    width: 416px;

}
#temp2{
    margin-left: 30%;
    position: relative;
    bottom: 30px;
}

#innerBoxAboutTemp{
    background-color: rgba(121, 213, 249, 0.493);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
}
#midTemp{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#midNew{
    display: flex;
    flex-direction: column;
    flex: 6;
    justify-content: flex-end;
    gap: 10px;
    border-left: 4px solid white ;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#imageI{
    border-radius: 15px;
}
#imageb1{
    width: 100%; 
    height: 360px;
    overflow: hidden;  
    display: flex;
    border-radius: 15px;
    overflow: hidden;

}
#imageI img{
    width: 650px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 10px;
}
#maps{
    width: 100%; 
    height: 360px;
    overflow: hidden;  
    display: flex;
    border-radius: 15px;
    overflow: hidden;

}
#map{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 15px;
}
.textMap b{
    margin: 20px;
}

/* Appling Flexbox to the items */
#body2{
    margin-top: 30px;
}
#itemsB2{
    display: flex;
    flex-wrap: wrap;
}

#textB2 b{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
    border-radius: 15px;
}
.item{
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    height: 300px;
    width: 200px;

}
.itemImage{
    width: 100%;
    height: 230px;
    background-color: white;
}
.itemText{
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-size: 500;
    font-weight: 700;
    overflow: hidden;
}
#last{
    width: 120vh;    
    height: 300px;
    flex-grow: 1;         
    flex-basis: 0;      
    min-width: 200px;
}
#last{
    font-size: 40px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
    border-radius: 15px;
    font-size: clamp(12px, 2vw, 40px); 
    overflow: hidden; 
    text-align: center; 
}
#last b{
    margin: 30px;
}

#login{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}
#loginPop{
    width: 400px;
    height: 100%;
    background-color: white;

}
#offerContent{
    height: 160px;
    width: 400px
}
#offerContent img{
    width: 100%;
}
#LOGINSIGN{
    font-size: 19px;
    margin-left: 40px;
    margin-top: 40px;
}

#phone{
    display: flex;
    margin: 30px;
    border: 1px solid #d4d5d9;
    overflow: hidden;
    padding-left: 10px;
    background-color: white;
    font-size: 14px;
    border: 1px solid #d4d5d9;
    font-size: 14px;
    padding: 7px 12px;
    line-height: 16px;
    height: auto;
    color: #282c3f;
}
#contactHr{
    margin: 0;
    padding: 0;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 4px;
    background-color: white;
}
#contactIcon{
    width: 41px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
}
#contactBar{
    background-color: white;
    width: 325px;
    height: 40px;
}
#contactBarIn{
    margin-left: 5px;
    border: none;
    background-color: white;
    width: 325px;
    height: 40px;
    font-size: 16px;
    outline: none;
    color: #282c3fcc;
}
#link{
    text-align: center;
    font-size: 12px;
    color: #282c3fcc;
    margin: 25px;
}
#submitContinue{
    cursor: pointer;
    background-color: #ff3f6c;
    text-align: center;
    padding: 12px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 25px;

}
#link2{
    font-size: 12px;
    color: #282c3fcc;
    margin: 25px;
    margin-left: 39px;
}
#loginPop a b{
    color: #ff3f6c;
}
#offerReward {
    height: 600px;
    width: 800px;
    overflow: hidden;
    height: 500px;
    width: 700px;
    background-image: url(extraImages/coup.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; 
    text-align: center;
    margin-top: 200px; 
}
.offerRewardWork{
    display: none;
}
#bigSale{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: "Emilys Candy", serif;
    color: white;
    font-weight: 500;
    position: relative;
    transform: translateX(-23%) translateY(60%);
}
#coupanCode{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: "Emilys Candy", serif;
    color: white;
    font-weight: 500;
    position: relative;
    transform: translateX(22%) translateY(-65%);
}
#close-offer{
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    position: relative;
    transform: translateX(2070%) translateY(-340px);

}
#coupanCode1{
    font-size: 35px;
}
#coupanCode2{
    font-family: "Alatsi", serif;
}

#topSale{
    margin-left: 100px;
}
#discountSale{
    display: flex;
    gap: 10px;
    font-size: 100px;
    font-family: "Emilys Candy", serif;
    color: white;
    font-weight: 500;
    position: relative;
    transform: translateX(57%) translateY(-45%);

}
#percentValue{
    font-size: 70px;

    margin-top: 30px;

}

/* Adding toWear List */
#jokingApiPort{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#toWear{
    height: 70vh;
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    background: linear-gradient(145deg, #0D1B2A, #1B263B, #415A77, #778DA9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#toWearHead{
    padding-top: 19px;
    font-size: 70px;
    padding-bottom: 19px;
    font-weight: 700;
}
#toWearHead1{
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 700;
    font-size: 20px;
}
#toWearContent{
    height: 80%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftPortion{
    height: 100%;
    width: 100%;

}
#rightPortion{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}
#toWearPopUp{
    height: 450px;
    width: 400px;
    border: 2px solid rgb(50, 48, 48);
    border-radius: 4%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 5px black;
}
#toWearHead{
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
#toWearHead img{
    height: 100px;
    width: 100px;
    object-fit: fill;
}

#inputAboveText{
    width: 100%;
    text-align: start;
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
#listOfToWear{
    margin: 15px;
    height: 100%;
    width: 90%;
    border : 2px solid #282c3f;
box-shadow: 2px 2px 5px black;

}
#listOfToWear {
    overflow-y: auto;   
    overflow-x: hidden; 
    max-height: 300px;  
    scrollbar-width: thin; 
    scrollbar-color: white transparent; 
    white-space: nowrap; 
}

/* Chrome, Edge, Safari */
#listOfToWear::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
}

#listOfToWear::-webkit-scrollbar-thumb {
    background-color: white; /* White scrollbar */
    border-radius: 10px;
    transition: background 0.3s;
}

#listOfToWear::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly darker on hover */
}

#listOfToWear::-webkit-scrollbar-track {
    background: transparent; /* No visible track */
}


#inputBOX{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#toDoInput{
    outline: none;
    font-size: 15px;
    width: 80%;
    padding-left: 15px;
    height: 20px;
    border-radius: clamp(15px,3%,3%);
}
#toDoInputSubmit {
    height: 20px;
    position: absolute;
    right: 10px;
    top: 51%;
    transform: translate(-35%,-52%); /* Vertically center the button */
    background-color: #ff3f6c;
    color: white;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    border-radius: clamp(15px,4%,4%);
}

#toDoInputSubmit:hover {
    background-color: #fd2356;
    border: 2px 2px 10px grey

}
#listOfToWear{
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 3%;
    overflow: scroll;
}

.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;

}
#removeButton{
    background-color: #E72744;
    color: white;
    height: 20px;
    width: 40px;
    font-size: 12px;
    margin-right: 10px;
    border-radius: 8px;

}
#addButton{
    background-color: skyblue;
    color: white;
    height: 20px;
    width: 40px;
    font-size: 12px;
    margin-right: 10px;
    border-radius: 8px;
}

/* Fashion with Face */
#fashionQuotes{
    height: 10vh;
    padding-top: 30px;
    width: 100%;

}
#tableQuote{
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fashionWithFace {
    height: 120vh;
    width: 100%;

}

#tableBox {
    height: 100vh;
    width: 80%;
    overflow: auto; 
    margin: 0 auto; 
    border: 2px double black;
    border-collapse: collapse;
}

#tableBox table {
    height: 100%;
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse; 

}

#tableBox table th, #tableBox table td {
    text-align: center; 
    padding: 5px; 
    border: 2px solid #000; 
    font-size: 25px;
    font-weight: 600;
}

#tableBox table img {
    width: 100px;
    height: auto; 
    max-width: 100%; 
}
#tableText1{
    font-size: 20px;
}
#tableText1{
    font-size: 30px;
}
#tableHeart{
    font-size: 50px;
}

/* Fashion Hovering */
#fashionHovering{
    height: 80vh;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}
.fashionHoveringImage {
    position: relative; /* Added this */
    height: 80%;
    width: 20%;
    border: 3px solid black;
    box-shadow: 1px 1px 10px black;
    border-radius: 4%;
    overflow: hidden;
}

.fashionHoveringImage .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 56, 56, 0.5); 
    opacity: 0;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: opacity 0.3s ease-in;
    backdrop-filter: blur(2px);
}
.fashionHoveringImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fashionHoveringImage:hover .overlay{
    opacity: 1;
}

.fashionHoveringImage .overlay .text{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.fashionHoveringImage:hover{
    transform: scale(1.01); 
}

/* OFFER TIME  */
#startTimeOffer{
    height: 80vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
#imageTimeOffer{
    height: 100%;
    width: 100%;
    margin-left: 5%;
    background-image: url(IMAGES/OfferHead.png);
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#panelTime{
    margin-top: 1%;
    width: 70%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Push elements to edges */
    align-items: center;
    padding-right: 50px;
    margin-right: 50px;
    margin-left: 80px;
    color: white;

}
#offerOffTime{
    margin-left: 2%;
    font-weight: 900;
    font-size: 50px;
    margin-right: 150px;
}
#timeButton{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 16px;
    border: 2px solid #fd2356;
    color: #fff;
    background-color: #ff4742;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 72px;
    
    
    
}
#realTime{
    font-size: 40px;
    font-weight: 600;   
    text-align: center;
    display: none;

}
#timeWarn{
    font-size: 20px;
    font-weight: 400;
}
#timeButton:hover{
    background: 0 0;
    color: #ff4742;
}

/* Image SLider */
#imageSlider{
    margin-top: 10px;
    margin-bottom: 25px;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;


}
#imgSliderImage{
    height: 100%;
    width: 80%;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(IMAGES/imageSliderOpt.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain; /* Ensures the whole image fits inside */
    text-align: center;
}
#popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 998;
}

#popupSlider {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    max-width: 80%;
    z-index: 999;
}

#popupImage {
    max-width: 100%;
    max-height: 80vh;
}


#closePopup {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px;
    margin-top: 15px;
    background-color: white;
}

/* Left & Right Navigation Buttons */
#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;

}

#prevBtn { left: 10px; }
#nextBtn { right: 10px; }


#buttonSlider {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    margin-top: 330px;
    margin-left: -700px;
}

#buttonSlider span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

#buttonSlider span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
}

#buttonSlider span:not(hover) {
    transition: all 1s;
}
/* JOKE API */
#leftPortion{
    height: 100%;
    width: 100%;
}
#leftPortionH1, #leftPortionH2{
    font-size: 50px;
    color: #F13AB1;
}
#leftPortionH1 b, #leftPortionH2 b{
    color: #E72744;
};
#jokeBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
#JokeStart{
    font-size: 25px;
    font-weight: 800;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}
#JokeEnd{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
#nextJoke{
    margin-top: 20px;
    text-align: center;

}
#nextJoke button{
    border-radius: 15px;
    font-size: larger;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FD913C;
    background-color: #29303E;
    box-shadow: 2px 2px 10px #FD913C;
    cursor: pointer;
}

/* NEW */
#fashionSection {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 30px;
}

/* Left Section */
#sectionCut {
    height: 60%;
    width: 15%;
    border: 3px solid black;
    border-radius: clamp(15px, 10px, 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-align: center;
    cursor: pointer;
}

.sectionArea {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for the left section items */
.sectionArea:hover {
    background-color: #000;
    color: white;
}

/* Right Section */
#sectionDataCut {
    height: 100%;
    width: 60%;
    background-color: #e727446e;
    overflow-y: auto;
    padding-right: 10px;
}

/* Default style for each section */
.sectionContent {
    display: none; /* Hide all sections by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.sectionHeading {
    text-align: center;
    font-size: 80px;
    font-weight: 800;
}

.subHeading {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
#timeSection{
    height: 70vh;
    width: 100%;
    background-color: #0072BB;
    display: flex;

}
#leftMapSection{
    height: 70vh;
    width: 50%;
    background-color: red;
    background-image: url(IMAGES/worldMap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#time{
    height: 70vh;
    width: 50%;
    background: linear-gradient(125deg, #162635, #090F1B);
    color: white;
}
#realTimeClock{
    height: 70vh;
    width: 350px;
}
#time{
    font-weight: 700;
    font-size: 50px;
}
#hours{
    font-size: 130px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}
#timeOther{
    position: relative;
    bottom: 60px;
}
#min{
    font-size: 120px;
    margin: 0;
    padding: 0;
    margin-left: 30%;
}
#sec{
    font-size: 120px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#minORsecColon{
    font-size: 90px;
    text-align: center;
}
#country{
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 900;
    text-align: center;

}
#timeSlogan{
    font-size: 55px;
    text-align: center;
    margin-top: 10px;
}
#timeSlogan2{
    font-size: 25px;
    text-align: center;
    font-weight: 350;
}
#timeSlogan3{
    position: relative;
    bottom: 50px;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}

/* QUIZ CSS */

#quizSection{
    height: 70vh;
    width: 100%;
    background-image: url(IMAGES/sunset.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quizText1, #quizText2{
    font-size: 60px;
    font-weight: 700;
    color: white;
}
#quizStartButton{
    height: 70px;
    width: 200px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 40px;
    margin: 50px;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    margin-top: 250px;

}
/* The background blur */
.blur-background {
    filter: blur(5px);
    pointer-events: none; /* Disable interactions with blurred content */
    transition: filter 0.3s ease;
}

/* Popup Modal Styling */
#quizPopUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    display: none;
    overflow: hidden; 
    backdrop-filter: blur(5px);
}
#headRules{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}
#quizPopupContent{
    height: 70vh;
    width: 60%;
    background-color: white;
    border-radius: clamp(25px, 15px, 40px);
    z-index: 20; 
    position: relative; 
    box-shadow: 4px 4px 30px black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(135deg, 
    rgba(231, 39, 68, 1),  
    rgba(241, 58, 177, 0.9), 
    rgba(253, 145, 60, 0.9), 
    rgba(240, 85, 36, 1));
    color: white;
}
#topHeadingQuiz{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 700;
    flex: 1;
}
#topHeadingQuiz button{
    height: 30px;
    width: 80px;
    background-color: #E72744;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;

}
#quizFooter{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    flex: 1;
}
#midHeadQuiz{
    flex: 9;
}
#restartQuiz{
    height: 30px;
    width: 100px;
    background-color: #FD913C;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}
#skipQuiz{
    height: 30px;
    width: 100px;
    background-color: #F05524;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;

}
#submitQuiz{
    height: 30px;
    width: 100px;
    background-color: #F13AB1;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;

}
#quizQuestion{
    font-size: 35px;
    margin-left: 10px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}
.quizOption{
    margin: 7px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid black;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    border-radius: 8px;
    width: fit-content;
    margin-left: 40px;
    transition: background-color 0.3s linear;

}

.quizOption:hover{
    font-weight: 630;
    box-shadow: 1px 1px 1px black;
    background: linear-gradient(135deg, 
    rgba(104, 96, 98, 0.9),  
    rgba(175, 125, 157, 0.9), 
    rgba(163, 131, 106, 0.9), 
    rgba(161, 126, 115, 0.9));
}
#quizPopupContent button:hover{
    box-shadow: 1px 1px 1px black;
    font-weight: 550;
}
#importantRule{
    margin-top: 60px;
    font-size: 13px;
    margin-left: 30px;

}
#quizStartButtonRealStart{
    height: 50px;
    width: 150px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 20px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content; 
    margin: auto; 
    margin-top: 50px;
}
#quizRules{
    display: none;
}

#quizEndButtonRealStart{
    height: 80px;
    width: 150px;
    font-size: 50px;
    font-weight: 700;
    border-radius: 20px;
    padding-right: 45px;
    padding-left: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content; 
    margin: auto; 
    margin-top: 50px;
}
#quizScore{
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    
}
#quizScoreNumber{
    text-align: center;
    font-size: 100px;
    font-weight: 800;

}
#quizEnd{
    display: none;
}
#topHeadingQuiz, #midHeadQuiz, #quizFooter{
    display: none;
}

#glassImage{
    filter: invert(100%) brightness(-200%);
}

#doucmentationHeading{
    font-size: 50px;
    font-weight: 700;
    position: relative;
    align-items: center;
    top: 12px;

}
#rootDocumentation{
    display: flex;
    align-items: flex-start;

}
#mainSection{
    background-color: #F1F3F4;
    width: 50%;
    flex: 8;

}
#sideSection {
    position: fixed; 
    left: 0;
    top: 80px;
    height: 90vh;
    width: 20%; 
    overflow: auto;
}

#mainSection {
    margin-left: 20%;
    width: 80%;
    overflow: auto;
    position: relative;
    top: 50px;
    padding-top: 30px;
}

.typeDocumentation{
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 17px;
    margin-top: 20px;

}
.typeDocumentation div{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
    cursor: pointer;
    padding: 5px;
    margin-top: 4px;
}
.typeDocumentation div:hover{
    margin-left: 10px;
    font-weight: 550;
    background-color: #9db9cb38;
    border-radius: 10px;
}
#dataDocumentation{
    margin-left: 20px;
    margin-top: 20px;
}
#documentationHead{
    font-size: 50px;
    font-weight: 700;

}
#documentationMiniHead{
    font-size: 25px;
    font-weight: 600;

}
#documentationParagraph{
    font-size: 20px;
}
.type1options.active {
    background-color: #f0f0f0; /* Light grey background */
    font-weight: bold;
    color: #333;
    border-left: 4px solid #E93D67; /* Blue left border */
    border-radius: 10px;
}

#footerUpperData{
    width: 100%;
    display: flex;
    padding-top: 3%;
    padding-bottom: 5%;
    justify-content: center;
    gap: 50px;
    font-size: 15px;
    font-weight: 600;
}
.option{
    font-weight: 400;
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
}
.option:hover{
    font-weight: 600;
}
#col5Element{
    margin-bottom: 15px;
    display: flex;
    width: 65%;
    gap: 10px;
}
#footerPlatform{
    margin-top: 5px;
    margin-left: 10px;
}
#footerPlatform2{
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    gap: 9px;
}
.footerHead2{
    margin-top: 10px;
}
#footerClickImage{
    cursor: pointer;
}
#footerLowerData{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
}
.lowerFooterHead{
    width: 100%;
    gap: 50px;
    font-size: 15px;
    font-weight: 600;

}
#lowerFooterData{
    padding-left: 1%;
    padding-right: 1%;
}

#lowerFooterTnC{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}
.lowerFooterKeyword{
    cursor: pointer;
}
.lowerFooterKeyword:hover{
    font-weight: 500;
}
